*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
